<div class="dish-card">
  <div class="dish-layout">
    <div class="dish-img-wrapper">
      @if (plato().urlImagen) {
        <img [src]="plato().urlImagen" class="dish-img" [alt]="plato().nombre">
      } @else {
        <div class="dish-img-placeholder">
          <span class="material-symbols-outlined">restaurant</span>
        </div>
      }
    </div>

    <div class="dish-info-wrapper">
      <div class="dish-header-info">
        <h5 class="dish-title">{{ plato().nombre }}</h5>
      </div>

      <p class="mb-1 text-muted small">
        ⏱ {{ plato().tiempoPreparacionBase }} min
      </p>

      <div class="dish-meta">
        <span class="dish-price">$ {{ plato().precioVentaFinal }}</span>
      </div>

      <div class="dish-controls">
        <div class="counter-pill">
          <button class="btn-counter" (click)="decrementar()">-</button>
          <span class="counter-value">{{ cantidad() }}</span>
          <button class="btn-counter" (click)="incrementar()">+</button>
        </div>

        <div class="add-btn-wrapper">
          <button class="btn-add-custom" (click)="agregar()">
            <span class="material-symbols-outlined">add</span>
            <span>Agregar</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
