<div class="kds-card">
  <div class="kds-header" [class]="headerClass()">

    <div class="timer"></div>
    @if (comanda().horaUltimoCambioEstado) {
      <app-kds-contador-tiempo [fechaInicio]="comanda().horaUltimoCambioEstado!">

      </app-kds-contador-tiempo>
      
    }
    
    <div class="mesa-info">MESA N° {{ comanda().mesaId }}</div>
  </div>

  <div class="kds-body">
    <ul class="platos-list">
      @for (item of comanda().items; track item.id) {
        <li class="plato-item" [class.entregado]="item.entregado">
          <div class="plato-main">
            <span class="cantidad">{{ item.cantidad }} x</span>
            <span class="nombre">{{ item.articulo.nombre }}</span>
          </div>
          @if (item.observacionesGenerales) {
            <div class="observacion">"{{ item.observacionesGenerales }}"</div>
          }
          @if (item.observacionesIngredientes) {
            <div class="observacion ingredientes">{{ item.observacionesIngredientes }}</div>
          }
        </li>
      }
    </ul>
  </div>

  <div class="kds-footer">
    <button class="btn-accion" (click)="onAccion()">
      {{ textoBoton() }}
    </button>
    <div class="tiempo-est">Tiempo estimado: {{ comanda().tiempoEstimadoTotal }}'</div>
  </div>
</div>
