<div class="kds-card">
  <div class="kds-header" [class]="headerClass()">
    <div class="timer">00:00:00</div> 
    <div class="mesa-info">MESA N° {{ comanda().mesaId }}</div>
  </div>

  <div class="kds-body">
    <ul class="platos-list">
      @for (plato of comanda().platos; track $index) {
        <li class="plato-item">
          <div class="plato-main">
            <span class="cantidad">{{ plato.cantidad }} x</span>
            <span class="nombre">{{ plato.nombre }}</span>
          </div>
          @if (plato.observaciones) {
            <div class="observacion">"{{ plato.observaciones }}"</div>
          }
        </li>
      }
    </ul>
  </div>

  <div class="kds-footer">
    <button class="btn-accion" (click)="accion.emit(comanda().id)">
      {{ textoBoton() }}
    </button>
    <div class="tiempo-est">Tiempo estimado: {{ comanda().tiempoEstimadoTotal }}'</div>
  </div>
</div>