.mesa-container {
  /* position: absolute; <-- ELIMINAR ESTA LÍNEA */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: filter 0.2s;
  cursor: grab;
  user-select: none;
  -webkit-user-select: none;
}

/* Cuando el usuario mantiene presionado el click */
.mesa-container:active {
  cursor: grabbing;
}

/* En CSS puro el hover va separado, no anidado */
.mesa-container:hover {
  filter: brightness(1.1);
}

/* Estados */
.estado-disponible { background-color: #68B342; }
.estado-ocupada { background-color: #C11818; }
.estado-reservada { background-color: #F1C40F; color: black; }
.estado-deshabilitada { background-color: #000000; }

/* Formas */
.forma-redonda { border-radius: 50%; }
.forma-cuadrada { border-radius: 8px; }
.forma-horizontal_larga { border-radius: 8px; }
.forma-horizontal_alta { border-radius: 8px; }
