<div class="mesa-container"
     [ngClass]="[claseEstado(), claseForma()]"
     [style.width.px]="ancho()"
     [style.height.px]="alto()"
     (click)="manejarClickMesa($event)">


   @if (!isEditorMode() && isSeleccionada()) {
    <div class="popup-acciones" (click)="$event.stopPropagation()">

        @if (mesa().estadoMesa === 'disponible') {
          <button type="button" class="btn-accion" (click)="accionMenu.emit('ocupar')">Ocupar mesa</button>
        } @else {
          <button type="button" class="btn-accion" (click)="accionMenu.emit('detalles')">Ver detalles</button>
        }

        <button type="button" class="btn-accion" (click)="accionMenu.emit('deshabilitar')">Deshabilitar</button>
        <button type="button" class="btn-accion" (click)="accionMenu.emit('cerrar')">Cerrar mesa</button>

    </div>

  }
  @if (isEditorMode()) {
    <button class="btn-eliminar" (click)="eliminar.emit(mesa().id)">×</button>
  }

  @if (isEditorMode()) {
    <input type="number"
           [value]="mesa().numeroMesa"
           (blur)="onInputBlur($event)"
           (mousedown)="$event.stopPropagation()"
           class="input-numero">
  } @else {
    <span class="numero">{{ mesa().numeroMesa }}</span>
  }
</div>
