<div class="container-fluid p-3 bg-light min-vh-100">

  <!-- VOLVER -->
  <div class="d-flex align-items-center gap-2 mb-4" (click)="volver()" style="cursor: pointer;">
    <span class="material-symbols-outlined">arrow_back</span>
    <span class="fw-semibold">Volver a la carta</span>
  </div>

  <!-- TITULO -->
  <h2 class="fw-bold mb-4">Mi pedido</h2>

  <!-- CARD PLATOS -->
  @for (item of pedidos(); track $index) {
  <div class="card border-0 shadow-sm rounded-4 p-3 mb-4">

    <!-- BOTON ELIMINAR -->
    <div class="d-flex justify-content-end">
      <span class="material-symbols-outlined text-dark" style="cursor: pointer;" (click)="eliminarPedido($index)">
        close
      </span>
    </div>

    <!-- TITULO Y PRECIO -->
    <div class="mb-3">
      <h4 class="fw-bold mb-2">{{ item.plato.nombre }}</h4>
      <div class="d-flex justify-content-between align-items-center">
        <span class="badge bg-dark">x{{ item.cantidad }}</span>
        <span class="fw-bold fs-5">${{ item.plato.precioVentaFinal * item.cantidad }}</span>
      </div>
    </div>

    <!-- IMAGEN -->
    @if (item.plato.urlImagen) {
    <img [src]="item.plato.urlImagen" class="img-fluid rounded-4 mb-3" style="height: 220px; object-fit: cover;">
    } @else {
    <div class="rounded-4 mb-3 d-flex align-items-center justify-content-center bg-light" style="height: 220px;">
      <span class="material-symbols-outlined text-muted" style="font-size: 48px;">restaurant</span>
    </div>
    }

    <!-- DESCRIPCION -->
    <p class="text-muted mb-4">{{ item.plato.tipoArticulo }}</p>

    <!-- BOTONES -->
    <div class="d-flex flex-column gap-2">
      <app-boton variante="warning"
         (clicked)="irAPersonalizar(item, $index)">
        <span class="material-symbols-outlined">edit</span>
        <span style="margin-left: 8px;">Personalizar</span>
      </app-boton>

      <app-boton variante="danger" (clicked)="eliminarUno($index)">
        <span class="material-symbols-outlined">remove</span>
        <span style="margin-left: 8px;">Eliminar pedido</span>
      </app-boton>

      <app-boton variante="success"  (clicked)="agregarAlPedido($index)">
        <span class="material-symbols-outlined">add</span>
        <span style="margin-left: 8px;">Agregar al pedido</span>
      </app-boton>
    </div>
  </div>
  }

  <app-boton-comensal class="w-100 btn-full" [backgroundColor]="configuracion.paleta.botonPrimario"
    [textColor]="configuracion.paleta.textoClaro" (clicked)="irADetallePedido()">
    <span class="material-symbols-outlined">receipt_long</span>
    <span style="margin-left: 8px;">Continuar pedido</span>
  </app-boton-comensal>


</div>

<app-llamar-al-mozo [configuracion]="configuracion" [mesaId]="comandaState.mesaId() ?? 0"
  [enviando]="comensalState.enviando()" [enviado]="comensalState.exito()" [error]="comensalState.error()"
  (llamadoMozo)="comensalState.solicitarMozo($event)" (modalCerrado)="comensalState.limpiarEstado()" />