<div class="comandas-container">
  
  <details class="kds-section" open>
    <summary class="section-header bg-orange">
      EN PREPARACIÓN ({{ state.comandasEnPreparacion().length }})
      <span class="chevron">▼</span>
    </summary>
    
    <div class="cards-grid">
      @for (comanda of state.comandasEnPreparacion(); track comanda.id) {
        <app-comanda-card 
          [comanda]="comanda" 
          (accion)="procesarAccion($event)">
        </app-comanda-card>
      } @empty {
        <p class="empty-state">No hay comandas en preparación.</p>
      }
    </div>
  </details>

  <details class="kds-section" open>
    <summary class="section-header bg-teal">
      NUEVAS - Esperando aceptación ({{ state.comandasNuevas().length }})
      <span class="chevron">▼</span>
    </summary>
    
    <div class="cards-grid">
      @for (comanda of state.comandasNuevas(); track comanda.id) {
        <app-comanda-card 
          [comanda]="comanda" 
          (accion)="procesarAccion($event)">
        </app-comanda-card>
      } @empty {
        <p class="empty-state">No hay comandas nuevas.</p>
      }
    </div>
  </details>
   <details class="kds-section" open>
    <summary class="section-header bg-success">
      EN ESPERA ({{ state.comandasNuevas().length }})
      <span class="chevron">▼</span>
    </summary>
    
    <div class="cards-grid">
      @for (comanda of state.comandasEnEspera(); track comanda.id) {
        <app-comanda-card 
          [comanda]="comanda" 
          (accion)="procesarAccion($event)">
        </app-comanda-card>
      } @empty {
        <p class="empty-state">No hay comandas en espera</p>
      }
    </div>
  </details>
  <div class="toolbar">
<div class="kds-header-actions">
    <app-boton-voz 
      [enEscucha]="vozService.enEscucha()"
      (toggle)="vozService.toggleListening()">
    </app-boton-voz>
  </div>

  <details class="kds-section" open>
    </details>

  </div>