@import "../bodega-form/bodega-form.css";

:host {
  display: block;
}

.two-columns {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media (max-width: 640px) {
  .two-columns {
    grid-template-columns: 1fr;
  }
}
